---
layout: default
cover: false
---

<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
        <a class="about-button" href="{{ site.baseurl }}/about.html">About</a>
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="{{ page.logo }}" alt="Blog Logo" />
        </a>
        {% endif %}
    </nav>
    <div class="vertical">
        <h1 class="page-title">{{ site.name }}</h1>
        <h2 class="page-description">
            {% if site.description %} {{ site.description }} {% endif %}
        </h2>
        <canvas id="homepage-animation"></canvas>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        </header>

        <section class="post-excerpt">
            <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">{{ post.excerpt }}</a>
        </section>

        <footer class="post-meta">
            {% if site.author %}
            <img class="author-thumb" src="{{ site.baseurl }}/assets/images/profile.jpg" alt="Author's profile picture"
                nopin="nopin" />
            <span>{{ site.author }}</span>
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>
    {% endfor %}

    {% include pagination.html %}

    <!-- Pts JS -->
    <script type="text/javascript" src="https://unpkg.com/pts@0.9.1/dist/pts.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/homepage.js"></script>
</main>
